---
import Layout from "../layouts/Layout.astro";
import { articles } from "../utils/actividadesData.ts";
import ActividadCard from "../components/cards/ActividadCard.astro";
---

<Layout>
  <div class="flex justify-center items-center mt-8 mb-6">
    <h1 class="text-2xl font-bold">
      Actividades de Análisis y Diseño de Sistemas
    </h1>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
    {
      articles.map((article) => (
        <ActividadCard
          title={article.title}
          description={article.description}
          imageUrl={article.imageUrl}
          author={article.author.name}
          authorUser={article.author.user}
          link={article.link}
        />
      ))
    }
  </div>
</Layout>
