---
import Layout from "../layouts/Layout.astro";
import Title from "../components/activities/Title.astro";
import Imagen from "./activities/Imagen.astro";
import AutorFecha from "./activities/AutorFecha.astro";
import PdfViewer from "./activities/PdfViewer.astro";
import Avatars from "../components/Avatars.astro";

// Importamos todas las imágenes de la carpeta assets
const images: Record<string, { default: { src: string } }> = import.meta.glob(
  "/src/assets/imagenesActividades/*",
  { eager: true }
);

// Definimos la interfaz de los props
export interface Props {
  title: string;
  srcImage: string;
  srcDoc: string;
  alt: string;
  author: string;
  authorUser: string;
  date: string;
}

// Extraemos los props
const { title, srcImage, srcDoc, alt, author, authorUser, date } = Astro.props;

// Resolvemos la imagen desde assets
const resolvedImage = images[`/src/assets/${srcImage}`]?.default.src;
---

<Layout>
  <main class="container mx-auto my-6 px-6 max-w-5xl">
    <Title title={title} />
    <Imagen src={resolvedImage} alt={alt} />
    <AutorFecha author={author} authorUser={authorUser} date={date} />
    <div class="content">
      <slot />
    </div>
    <PdfViewer src={srcDoc} />
  </main>
  <Avatars />
</Layout>
