---
import Layout from "../layouts/Layout.astro";
import Title from "../components/activities/Title.astro";
import Imagen from "./activities/Imagen.astro";
import AutorFecha from "./activities/AutorFecha.astro";
import PdfViewer from "./activities/PdfViewer.astro";
import Avatars from "../components/Avatars.astro";

export interface Props {
  title: string;
  srcImage: string;
  srcDoc: string;
  alt: string;
  author: string;
  authorUser: string;
  date: string;
}

const { title, srcImage, srcDoc, alt, author, authorUser, date } = Astro.props;
---

<Layout>
  <main class="container mx-auto my-6 px-6 max-w-5xl">
    <Title title={title} />
    <Imagen src={srcImage} alt={alt} />
    <AutorFecha author={author} authorUser={authorUser} date={date} />
    <div class="content">
      <slot />
    </div>
    <PdfViewer src={srcDoc} />
  </main>
  <Avatars />
</Layout>
