---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/activities/Title.astro";
import Imagen from "../../components/activities/Imagen.astro";
import AutorFecha from "../../components/activities/AutorFecha.astro";
import PdfViewer from "../../components/activities/PdfViewer.astro";

const actividadData = {
  title: "Modelos de ciclo de vida del software",
  date: "09/02/2025",
  author: "Omar David Jaimes Molina",
  sections: [
    {
      title: "Modelo de cascada",
      paragraphs: [
        "El modelo de la cascada, a veces llamado ciclo de vida cl치sico, sugiere un enfoque sistem치tico y secuencial para el desarrollo del software, que comienza con la especificaci칩n de los requerimientos por parte del cliente y avanza a trav칠s de planeaci칩n, modelado, construcci칩n y despliegue, para concluir con el apoyo del software terminado (Pressman, 2010).",
      ],
    },
    {
      title: "Modelo en V",
      paragraphs: [
        "Una variante de la representaci칩n del modelo de la cascada se denomina modelo en V. Se aprecia la relaci칩n entre las acciones para el aseguramiento de la calidad y aquellas asociadas con la comunicaci칩n, modelado y construcci칩n temprana. A medida que el equipo de software avanza hacia abajo desde el lado izquierdo de la V, los requerimientos b치sicos del problema mejoran hacia representaciones t칠cnicas cada vez m치s detalladas del problema y de su soluci칩n.",

        "En cada fase de desarrollo se incluyen niveles de pruebas asociados. En este modelo las pruebas comienzan lo m치s pronto posible, para descubrir r치pidamente los posibles errores y no esperar al final para mejorarlo.",
      ],
    },
    {
      title: "Modelos de proceso incremental",
      paragraphs: [
        "El desarrollo incremental se basa en la idea de dise침ar una implementaci칩n inicial, exponer 칠sta al comentario del usuario, y luego desarrollarla en sus diversas versiones hasta producir un sistema adecuado (Sommerville, 2011).",

        "El modelo de proceso incremental se centra en que en cada incremento se entrega un producto que ya opera. Los primeros incrementos son versiones desnudas del producto final, pero proporcionan capacidad que sirve al usuario y tambi칠n le dan una plataforma de evaluaci칩n (Pressman, 2010).",
      ],
    },
    {
      title: "Modelos de proceso evolutivo",
      paragraphs: [
        "Modelo de proceso dise침ado expl칤citamente para adaptarse a un producto que evoluciona con el tiempo. Los modelos evolutivos son iterativos. Se caracterizan por la manera en la que permiten desarrollar versiones cada vez m치s completas del software (Pressman, 2010).",

        "El paradigma de hacer prototipos comienza con la comunicaci칩n. Usted se re칰ne con otros participantes para definir los objetivos generales del software, identifica cualesquiera requerimientos que conozca y detecta las 치reas en las que es imprescindible una mayor definici칩n. Se planea r치pidamente una iteraci칩n para hacer el prototipo, y se lleva a cabo el modelado. 칄ste se centra en la representaci칩n de aquellos aspectos del software que ser치n visibles para los usuarios finales. El dise침o r치pido lleva a la construcci칩n de un prototipo. 칄ste se entrega y es evaluado por los participantes, que dan retroalimentaci칩n para mejorar los requerimientos. La iteraci칩n ocurre a medida de que el prototipo es afinado para satisfacer las necesidades de distintos participantes, y al mismo tiempo le permite a usted entender mejor lo que se necesita hacer.",
      ],
    },
    {
      title: "Modelo de espiral",
      paragraphs: [
        "El modelo de espiral combina los peque침os ciclos repetidos del modelo iterativo con el flujo secuencial y lineal del modelo de cascada para dar prioridad al an치lisis de riesgos. Puede usar el modelo de espiral para garantizar la actualizaci칩n y mejora graduales del software mediante la creaci칩n de prototipos en cada fase (Amazon Web Services, Inc., s.f.).",

        "El modelo de espiral es adecuado para proyectos grandes y complejos que requieren cambios frecuentes. Sin embargo, puede ser costoso para proyectos peque침os con objetivos muy concretos.",
      ],
    },
    {
      title: "Modelo 츼gil",
      paragraphs: [
        "El modelo 치gil dispone las fases del SDLC (Ciclo de vida de desarrollo de software) en varios ciclos de desarrollo. El equipo itera a trav칠s de las fases r치pidamente y solo se hacen peque침os cambios progresivos de software en cada ciclo. Los requisitos, planes y resultados se eval칰an continuamente para responder con rapidez a los cambios. El modelo 치gil es iterativo y progresivo, por lo que es m치s eficiente que otros modelos de procesos (Amazon Web Services, Inc., s.f.).",

        "Los ciclos r치pidos de desarrollo permiten a los equipos identificar y abordar problemas en proyectos complejos desde el principio y antes de que se conviertan en problemas graves. Tambi칠n promueven la participaci칩n de los clientes y las partes interesadas para que den su opini칩n en todo el ciclo de vida del proyecto. Sin embargo, depender en exceso de la opini칩n de los clientes puede hacer que los objetivos cambien dr치sticamente o dejar el proyecto a medias.",
      ],
    },
  ],
};
---

<Layout>
  <main class="container mx-auto my-6 px-6 max-w-5xl">
    <!-- T칤tulo centrado -->
    <Title title={actividadData.title} />

    <!-- Imagen con borde y sombra -->
    <Imagen
      src="/imagenesActividades/ciclo_vida_software.jpeg"
      alt="Imagen del art칤culo"
    />

    <!-- Autor y fecha centrados -->
    <AutorFecha author={actividadData.author} date={actividadData.date} />

    <!-- Secci칩n de contenido -->

    <section class="prose prose-lg text-black mt-10">
      <div class="flex items-center justify-center mb-4">
        <h1 class="text-3xl font-bold mb-2">
          쯈u칠 son los modelos prescriptivos?
        </h1>
      </div>
      <p class="text-justify text-lg leading-relaxed mb-8">
        Los modelos de proceso prescriptivo fueron propuestos originalmente para
        poner orden en el caos del desarrollo de software (Pressman, 2010).
      </p>
    </section>

    <section class="prose prose-lg text-black mt-6">
      {
        actividadData.sections.map((section, index) => (
          <div class="mb-6">
            <h2 class="text-2xl font-semibold mb-2">{section.title}</h2>
            {section.paragraphs.map((parrafo, i) => (
              <p class="text-justify leading-relaxed mb-7">{parrafo}</p>
            ))}
          </div>
        ))
      }
    </section>

    <!-- 游늯 Visualizaci칩n de PDF -->
    <PdfViewer
      src="/docsActividades/consulta_sdlc_1152263_1152277_1152280.pdf"
    />
  </main>
</Layout>
