---
import Actividad from "../../components/Actividad.astro";

const actividadData = {
  title: "Sistemas de información",
  srcImage: "/imagenesActividades/sistema_informacion.jpeg",
  srcDoc:
    "/docsActividades/consulta_sistemas_informacion_1152263_1152277_1152280.pdf",
  alt: "Imagen de sistemas de información",
  date: "10/02/2025",
  author: "Bryan Alejandro Vera Osorio",
};
---

<Actividad
  title={actividadData.title}
  srcImage={actividadData.srcImage}
  srcDoc={actividadData.srcDoc}
  alt={actividadData.alt}
  date={actividadData.date}
  author={actividadData.author}
>
  <!-- Sección de contenido -->

  <section class="prose prose-lg text-black mt-10">
    <div class="flex items-center justify-center mb-4">
      <h1 class="text-3xl font-bold mb-2">
        ¿Qué es un sistema de información?
      </h1>
    </div>
    <p class="text-justify text-lg leading-relaxed mb-8">
      Los sistemas de información permiten recoger y manejar de la mejor forma
      todos los datos con los que cuenta una empresa. Existen diferentes tipos
      que van a poder adaptarse a las necesidades de cada sector y de las áreas
      que componen cada organización (OBS Business School, s.f.).
    </p>

    <p class="text-justify text-lg leading-relaxed mb-8">
      Es un conjunto organizado de componentes que recoge, procesa, almacena y
      distribuye información para apoyar la toma de decisiones, la coordinación,
      el control, el análisis y la visualización en una organización. En estos
      componentes que se recolectan, se incluyen el hardware, el software, los
      datos, los procedimientos y las personas que interactúan entre sí con el
      objetivo de cumplir una función específica (OBS Business School, s.f.).
    </p>
  </section>
</Actividad>
